/src/assets/forge
/src/cpw/*
/src/ibxm/*
/src/net/*
/src/paulscode/*
/src/deobfuscation_data-1.6.4.lzma
/src/fml_at.cfg
/src/fml_marker.cfg
/src/fmlversion.properties
/src/forge_at.cfg
/src/forge_logo.png
/src/mcpmod.info
/src/Start.JAVA
/src/appeng/*