/src/assets/forge
/src/cpw/*
/src/ibxm/*
/src/net/*
/src/paulscode/*
/src/deobfuscation_data-1.6.4.lzma
/src/fml_at.cfg
/src/fml_marker.cfg
/src/fmlversion.properties
/src/forge_at.cfg
/src/forge_logo.png
/src/mcpmod.info
/src/Start.JAVA
/src/appeng/*
/src/*
/src/SyncToy_797a5cb2-8e2f-48ac-b4bf-213cb6308d14.dat
/src/SyncToy_c105a3be-dd26-4bc9-b27c-227e354a903a.dat


/src/addfeat/*